 .MuiInputBase-root , .MuiFormControl-root {
    line-height: 0.8;
    width: 100%;
   
}

.MuiFilledInput-root.Mui-focused { /* Increase the specificity */
  background-color: #fff !important;
  }

/*
.MuiOutlinedInput-input {
    padding: 12px 14px 12px 14px !important;
} */