.site-navbar {
    background: #3e3058;
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    opacity: 0.7;
    border-radius: 5px;
}

.site-navbar nav {
    padding: 20px 30px !important;
}

.brl {
    border-left: 1px solid #dee2e6;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0px;
    color: #fff;
}