.site-navbar {
    
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
   
  
}

.site-navbar nav {
  padding-top: 0px;
  padding-bottom: 0px;
   
}

.brl {
    border-left: 1px solid #dee2e6;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0px;
    color: #fff;
}

.nav-item .btn {
    padding: 7px 10px;
    border-radius: 0 !important;
    display: inline;

}
