body {
    background: #fff;
}

.container {
    padding: 20px 30px;
}

.main {
    padding-top: 150px;
    z-index: 1000;
}

.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    height: calc(100vh);
    background-position: 20% -25px;
    position: relative;
}

.bkg-trs {
    border-radius: 5px;
    background-color: rgba(103, 65, 114, .7);
}